<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<body style="background-color: black">
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" href="/css/header.css">

<div class="header">
    <a href="/index.html" class="logo">Logo</a>
    <div class="header-right">
        {% if include.page_type == "home" %}
            <a class="active" href="/index.html">Home</a>
        {% else %}
            <a href="/index.html">Home</a>
        {% endif %}

        {% if include.page_type == "projects" %}
            <a class="active" href="/projects.html">Projects</a>
        {% else %}
            <a href="/projects.html">Projects</a>
        {% endif %}
        <a href="#about">About</a>
    </div>
</div>

<body>
</html>